[submodule "ImageConverter"]
	path = ImageConverter
	url = https://github.com/horinoh/ImageConverter.git
[submodule "neslib"]
	path = neslib
	url = https://github.com/clbr/neslib.git
[submodule "neslib2"]
	path = neslib2
	url = https://github.com/sehugg/neslib.git
